.Navbar {
  position: fixed;
  width: 100%;
  top: 20px;
  left: 0;
  background-color: rgb(232, 234, 240);
  box-sizing: border-box;
  z-index: 1;
}

.Navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}

.Navbar-brand {
  display: flex;
  align-items: center;
}

.Navbar-brand img {
  max-width: 10%;
}

.Logo {
  font-size: 20px;
  color: #022873;
  padding-left: 10px;
  text-decoration: none;
}

@media (min-width: 769px) {
  .ToggleButton {
    display: none;
  }
}
